<!DOCTYPE html>
<html lang="en">
<head>
  {% block head %}
  <title>{% block title %}{% endblock title %} - Bobnet Glow</title>
  {% endblock head %}
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta charset="utf-8">
<style>
.card .headline-figure {
  font-size: 4em;
  line-height: 2em !important;
}

ul.collection li.collection-item span.title {
  font-weight: bold;
}
</style>
</head>
<body class="blue-grey darken-3 white-text">
  <div id="content" class="container">
    {% block content %}{% endblock content %}
  </div>
</body>
</html>
