<!DOCTYPE html>
<html lang="en">
<head>
  {% block head %}
  <title>{% block title %}{% endblock title %} - Bobnet Glow</title>
  {% endblock head %}
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta charset="utf-8">
<style>
.card .headline-figure {
  font-size: 4em;
  line-height: 2em !important;
}

ul.collection li.collection-item span.title {
  font-weight: bold;
}

.led-display div {
  width: 10px;
  height: 10px;
  display: inline-block;
}
</style>
</head>
<body class="blue-grey darken-4 white-text">
  <div id="content" class="container">
    {% block content %}{% endblock content %}
  </div>
  <script type="text/javascript" src="/static/pulltorefresh.js"></script>
  <script type="text/javascript">
    const ptr = PullToRefresh.init({
      mainElement: 'body',
      onRefresh() {
        window.location.reload();
      }
    });
  </script>
</body>
</html>
