<!DOCTYPE html>
<html lang="en">
<head>
  {% block head %}
  <title>{% block title %}{% endblock title %} - Bobnet Glow</title>
  {% endblock head %}
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<style>
.card .headline-figure {
  font-size: 4em;
  line-height: 2em !important;
}
</style>
</head>
<body>
  <div id="content" class="container">
    {% block content %}{% endblock content %}
  </div>
</body>
</html>
