[Unit]
Description=Home Grown Glow

[Service]
Type=simple
WorkingDirectory=/home/pi
ExecStart=/usr/local/bin/glow-device
Restart=always
RestartSec=60
Environment=IFTTT_WEBHOOK_KEY=${IFTTT_WEBHOOK_KEY}
Environment=WEB_EVENT_URL=${GLOW_DEVICE_WEB_EVENT_URL}
Environment=WEB_EVENT_TOKEN=${GLOW_DEVICE_WEB_EVENT_TOKEN}
Environment=RUST_LOG=info

[Install]
WantedBy=multi-user.target
